@zIndex-top: 100;

html {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
}

html, 
body, 
#map-canvas { 
	height: 100%;
	width: 100%; 
	margin: 0; 
	padding: 0;
}

.overlay {
	position: absolute;
	right: 15px;
	top: 50px;
	width: 300px;
	color: white;
	
	& > [class*='overlay--'] {
		background-color: rgba(12,33,65,0.85);
		border-radius: 10px;
		padding: 15px;
	}
}

.overlay--settings {
	margin-bottom: 15px;
	
	.globe-container {
		position: absolute;
		right: 0;
		
		.fa-globe {
			position: absolute;
			top: -10px;
			right: 0;
			font-size: 62px;
			margin-right: 10px;
			opacity: 0.2;
		}
	}

	.earthquake-count {
		display: inline-block;
		margin-top: -10px;
		font-size: 20px;
		font-weight: 300;
		color: #D6932E;
		margin-left: 5px;
		margin-right: 5px;
	}
}

.overlay--details {
	
}

.details-header {
	font-weight: 300;
	
	&:after {
  	 	content: "";
  		display: table;
  		clear: both;
	}
}

.details-header .magnitude-badge {
	width: 50px;
	height: 50px;
	background-color: rgba(0,0,0,0.3);
	line-height: 50px;
	text-align: center;
	font-size: 24px;
	float: left;
	border: 3px solid #00ffff;
	border-radius: 50%;
	margin-right: 12px;
}

.details-header .title {
	display: block;
	line-height: 1.3;
	font-size: 16px;
	padding-top: 8px;
}

.overlay--details .feature-grid {
	margin-top: 15px;
	margin-left: 5px;
	
	[class*='column-'] {
  	  	float: left;
		box-sizing: border-box;
		border-left: 1px solid rgba(255,255,255,0.3);
		padding-left: 7px;
		
		.value {
			display: block;
			font-weight: 100;
			font-size: 20px;
			color: rgba(255,255,255,0.9);
		
			.significance-maxval {
				padding-left: 3px;
				font-size: 12px;
			}
		}
	
		.label {
			display: block;
			font-weight: 100;
			font-size: 12px;
			color: rgba(255,255,255,0.6);
		}
	}
	
	.column-1 {
		width: 31%;
	}
	
	.column-2 {
		width: 38%;
	}
	
	.column-3 {
		width: 31%;
	}
	
	&:after {
  	 	content: "";
  		display: table;
  		clear: both;
	}
}

.loading-container {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: @zIndex-top;
	background-color: rgba(0,0,0,0.8);
}

.spinner-container {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -60px;
}

.spinner {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-color: #AAA;

  border-radius: 100%;  
  -webkit-animation: scaleout 0.9s infinite ease-in-out;
  animation: scaleout 0.9s infinite ease-in-out;
}

.spinner-label {
	text-align: center;
	margin-top: 15px;
	color: #999;
	font-size: 20px;
	font-weight: 100;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
























